<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaGestorEscolar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SistemaGestorEscolar.Properties.Settings.StaMariaNazarethDatabaseServiceConnectionString" connectionString="Data Source=.;Initial Catalog=StaMariaNazarethDatabaseService;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="StaMariaNazarethDatabaseServiceEntities" connectionString="metadata=res://*/Reportes.modelEstudiantes.csdl|res://*/Reportes.modelEstudiantes.ssdl|res://*/Reportes.modelEstudiantes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StaMariaNazarethDatabaseService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SistemaGestorEscolar.Properties.Settings>
      <setting name="isPrimerInicio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="correoRecu" serializeAs="String">
        <value />
      </setting>
      <setting name="isModoOscuro" serializeAs="String">
        <value>False</value>
      </setting>
    </SistemaGestorEscolar.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>